* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--body);
    padding: 40px;
    transition: 0.7s ease;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin: 0 auto;
    margin-top: 100px;
}

.filter {
    margin-top: 20px;
}

select {
    width: 200px;
    height: 58px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--light);
    color: var(--dark);
}

.search-box input {
    width: 480px;
    padding: 20px 12px; 
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    background-color: var(--light);
    color: var(--dark);
}

.card {
    background-color: var(--light);
    color: var(--dark);
    transition: 0.3s ease;
    text-align: left;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 2px solid rgb(147, 147, 147);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    border-bottom: 2px solid rgb(147, 147, 147);
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.card h1,
p,
h3 {
    margin-left: 20px;
}

h1 {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    margin-top: 25px;
    margin-bottom: 16px;
    color: var(--dark);
}


.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.container {
    max-width: 1400px;
    margin: auto;
}

.dark-mode {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dark-mode svg{
    color: var(--dark);
}

.top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light);
    padding: 40px;
}

.bottom-container{
    max-width: 1300px;
    display: flex;
    align-items: center;
    vertical-align: top;
    justify-content: space-between;
    margin-bottom: 150px;
    margin-top: 50px;
}

.big-title{
    color: var(--dark);
}

:root{
    --dark:black;
    --light:white;
    --body:rgb(202, 202, 202);
}

.body-dark{
    --dark:white;
    --light:rgba(43, 56, 68, 1);
    --body:rgba(32, 44, 54, 1);
}


@media (max-width:770px){
    .search-box input{
        width: 300px;
   }
}

@media (max-width:600px){
    .bottom-container{
        flex-direction: column;
    }

    .search-box input {
        width: 300px;  
    }

    select{
        width: 300px;
    }
}

@media (max-width:420px){
    big-title{
        font-size: 16px;
    }
}